<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">Submit Yours</h1>

    <div class="col-lg-6 mx-auto">

        <p class="lead"> Share your recipe. Dont hesitate to fill the form </p>

    </div>

</div>

<div class="row justify-content-center">

    <% if(infoSubmitObject !='' ) { %>
        <div class=" col-8 mb-4 alert alert-success" role="alert">
            <%= infoSubmitObject %>
        </div>
        <% } %>

            <% if(infoErrorObject !='' ) { %>
                <div class=" col-8 mb-4 alert alert-danger" role="alert">
                    <%= infoErrorObject[0].message %>
                </div>
                <% } %>

                    <div class="col-8">

                        <form action="/submit" method="post" enctype="multipart/form-data">

                            <div class="row g-3">

                                <div class="col-12">

                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="Email">

                                </div>

                                <div class="col-12">

                                    <label for="name" class="form-label">Recipe Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Recipe Name" required>

                                </div>

                                <div class="col-12">

                                    <label for="description" class="form-label">Recipe Description</label>
                                    <textarea name="description" id="description" class="form-control" cols="30"
                                        rows="4" placeholder="Recipe Description" required></textarea>

                                </div>

                                <div class="col-12">

                                    <label for="ingridients" class="form-label">Ingridients</label>
                                    <small>Example: ice</small>

                                    <div class="ingridientList mb-1">

                                        <div class="ingridientDiv mb-1">
                                            <input type="text" name="ingridients" class="form-control"
                                                placeholder="Ingridients">
                                        </div>

                                    </div>

                                </div>

                                <div class="col-12">

                                    <button type="button" class="btn btn-outline-primary" id="addIngridientsBtn"> +
                                        Ingridient
                                    </button>

                                </div>

                                <div class="col-12">

                                    <!-- ['American', 'Chinese', 'Indian', 'Mexican', 'Spanish', 'Thai'] -->

                                    <label for="category"> Select Category</label>
                                    <select class="form-select form-control" name="category" aria-label="Category">
                                        <option selected>Select Category</option>
                                        <option value="American">American</option>
                                        <option value="Indian">Indian</option>
                                        <option value="Mexican">Mexican</option>
                                        <option value="Spanish">Spanish</option>
                                        <option value="Thai">Thai</option>
                                        <option value="Chinese">Chinese</option>
                                    </select>

                                </div>

                                <div class="col-12">

                                    <label for="image">Image</label>
                                    <input type="file" name="image" id="image" accept="image/*" class="form-control">

                                </div>

                                <div class="col-12">

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </div>

                            </div>

                        </form>

                    </div>

</div>